<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>내 게시물 리스트</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <h1>게시물 리스트</h1>

        <th:block th:each="article : ${articles}">
            <div>
                <a th:href="@{|/article/${article.id}|}">
                    [[${article.id}]]
                </a>
            </div>
            <div>
                작성자 : [[${article.author.username}]]
            </div>

            <div>
                제목 : [[${article.subject}]]
            </div>

            <div>
                내용 : [[${article.content}]]
            </div>
            <div>
                해시태그 :
                <th:block th:each="hashTag : ${article.extra.hashTags}">
                    <a th:href="@{${hashTag.keyword.listUrl}}">
                        #[[${hashTag.keyword.content}]]
                    </a>
                </th:block>
            </div>
        </th:block>

</section>
</body>
</html>